@import "tailwindcss" important;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Aeonik';
    src: url("/public/fonts/Aeonik/AeonikTRIAL-Bold.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Aeonik';
    src: url("/public/fonts/Aeonik/AeonikTRIAL-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Aeonik';
    src: url("/public/fonts/Aeonik/AeonikTRIAL-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@theme {
    --font-aeonik: "Aeonik";

    --color-white: #fff;
    --color-black: #000;
    --color-crayola: #b0b7bf;
    --color-chinese-black: #121212;
    --color-manatee: #97a1ac;
    --color-dark-green: #002E22;
    --color-dark-slate-gray: #355F53;
    --color-anti-flash-white: #EFF1F3;
    --color-columbia-blue: #C4DBD5;
    --color-granite-gray: #5E646B;
    --color-bright-gray: #EEEEEE;
}
