@import "tailwindcss" important;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Aeonik';
    src: url("/fonts/Aeonik/AeonikTRIAL-Bold.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Aeonik';
    src: url("/fonts/Aeonik/AeonikTRIAL-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Aeonik';
    src: url("/fonts/Aeonik/AeonikTRIAL-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Sato";
    src: url("/fonts/Sato/sato-light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sato";
    src: url("/fonts/Sato/sato-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sato";
    src: url("/fonts/Sato/sato-medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sato";
    src: url("/fonts/Sato/sato-semi.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sato";
    src: url("/fonts/Sato/sato-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sato";
    src: url("/fonts/Sato/sato-heavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-aeonik: "Aeonik";
    --font-sato: "Sato";

    --color-white: #fff;
    --color-black: #000;
    --color-crayola: #b0b7bf;
    --color-chinese-black: #121212;
    --color-manatee: #97a1ac;
    --color-dark-green: #002E22;
    --color-dark-slate-gray: #355F53;
    --color-anti-flash-white: #EFF1F3;
    --color-columbia-blue: #C4DBD5;
    --color-granite-gray: #5E646B;
    --color-bright-gray: #EEEEEE;
    --color-spanish-viridian: #008060;
    --color-orioles-orange: #EB4B1A;
    --color-lava: #CD1C13;
    --color-platinum: #DFE3E6;
    --color-feldgrau: #445B54;
    --color-bright-gray: #E5F2EF;
    --color-vivid-gamboge: #FD9400;
    --color-metallic-silver: #9EA5AE;
}
